/** @format */

:root {
	--background: rgb(245, 245, 255);
}

body {
	background-color: var(--background);
	font-family: Arial, Helvetica, sans-serif;
	margin: 0px;
}

a,
button {
	text-decoration: none;
	color: inherit;
}

.header-link {
	display: inline-block;
}

header {
	position: fixed;
	background-color: rgba(255, 255, 255, 1);
	box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.1);
	height: 5vh;
	width: 98%;
	margin-top: 10px;
	border-radius: 0.5rem;
	display: flex;
	flex-direction: row;
	z-index: 1;
}

.header:first-child {
	margin-right: auto;
}
.header:last-child {
	margin-left: auto;
}

.horizontal {
	display: flex;
	flex-direction: row;
}

.center {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.center-top {
	left: 50%;
	transform: translate(-50%, -50%);
}

.component {
	box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.1);
	background-color: rgba(255, 255, 255, 1);
	padding: 15px;
	margin: 15px;
	width: 20vw;
	height: 20vh;
	border-radius: 0.5rem;
}

.title {
	position: sticky;
	top: 50px;
}

.component:hover,
.header-link:hover {
	background-color: rgba(0, 0, 0, 0.1);
}

.category {
	box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.1);
	background-color: rgba(255, 245, 255, 1);
	padding: 15px;
	margin: 15px;
	border-radius: 0.5rem;
	overflow-x: auto;
}

#aquafin {
	background-image: url('./assets/aquafin.png');
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
}

#pidpa {
	background-image: url('./assets/pidpa.png');
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
}

#hydrotechnic {
	background-image: url('./assets/hydrotechnic.png');
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
}

#belleaqua {
	background-image: url('./assets/belleaqua.png');
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
}
