/** @format */

:root {
	--background: rgb(245, 245, 255);
	--belleaqua: rgba(204, 205, 0, 1);
}

body {
	background-color: var(--background);
	font-family: Arial, Helvetica, sans-serif;
	margin: 0px;
}

button,
a {
	text-decoration: none;
	color: inherit;
	margin: 15px;
}

button,
input {
	border: 1px solid black;
	border-radius: 0.5rem;
	padding: 5px;
}

button:hover {
	cursor: pointer;
	background-color: var(--belleaqua);
}

.header-link {
	display: inline-block;
	padding: 5px;
	margin: 0;
}

header {
	position: sticky;
	background-color: rgba(255, 255, 255, 1);
	box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.1);
	height: 6vh;
	width: 98%;
	top: 2vh;
	left: 1%;
	border-radius: 0.5rem;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	z-index: 1;
}

.pw {
	display: none;
	background-color: rgba(255, 0, 0, 0.5);
	border-radius: 0.5rem;
}

.header {
	padding-left: 20px;
	padding-right: 20px;
}

.flex-dir {
	display: flex;
	flex-direction: row;
}

.center {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.component {
	box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.1);
	background-color: rgba(255, 255, 255, 1);
	padding: 15px;
	width: 15vw;
	height: 15vh;
	border-radius: 0.5rem;
}

.component:hover,
.header-link:hover {
	background-color: rgba(0, 0, 0, 0.1);
	border-radius: 0.5rem;
	cursor: pointer;
	user-select: none;
}

.category {
	box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.1);
	background-color: rgba(255, 245, 255, 1);
	padding: 15px;
	margin: 15px;
	border-radius: 0.5rem;
}

.logo {
	height: 100%;
}

#aquafin {
	background-image: url('./assets/aquafin.png');
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
}

#pidpa {
	background-image: url('./assets/pidpa.png');
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
}

#hydrotechnic {
	background-image: url('./assets/hydrotechnic.png');
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
}

#belleaqua {
	background-image: url('./assets/belleaqua.png');
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
}

.title {
	display: flex;
	background-color: rgba(255, 255, 255, 1);
	box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.1);
	position: sticky;
	border-radius: 0.5rem;
	padding: 5px;
	top: 10%;
}

/* width */
::-webkit-scrollbar {
	width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
	background: rgba(255, 245, 255, 1);
}

/* Handle */
::-webkit-scrollbar-thumb {
	border: 3px solid var(--belleaqua);
	border-radius: 0.5rem;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background-color: black;
}

.tab {
	display: none;
	box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.1);
	background-color: rgba(255, 255, 255, 1);
	padding: 15px;
	margin: 15px;
	border-radius: 0.5rem;
}

.tabcontent {
	display: none;
}

.tab-active {
	background-color: rgba(0, 0, 0, 0.1);
}

.tabbutton:hover {
	background-color: rgba(0, 0, 0, 0.1);
	cursor: pointer;
	user-select: none;
}

.tabbutton {
	padding: 5px;
	padding-right: 15px;
	padding-left: 15px;
	margin: 0px;
	border-bottom: 1px solid;
	border-top-right-radius: 0.5rem;
	border-top-left-radius: 0.5rem;
}

.active {
	display: block;
}

.checkbox {
	padding: 5px;
}

.checkbox:hover {
	user-select: none;
	cursor: pointer;
	background-color: rgba(0, 255, 0, 0.2);
}

.checked {
	background-color: var(--belleaqua);
}
.checked:hover {
	background-color: rgba(255, 0, 0, 0.2);
}

@media only screen and (max-width: 800px) {
	.flex-dir {
		flex-direction: column;
	}

	.component {
		width: auto;
		height: 20vh;
	}

	.logo {
		height: 25px;
	}

	header {
		height: auto;
	}

	.title {
		top: 18%;
		justify-content: center;
	}

	.center {
		position: absolute;
		top: 80%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
}
